// main styles

body {
    margin: 0;
    padding: 0;
 
}

// left side of header

.header__leftside {
    ul {
        li {
            list-style-type: none;
        }
    }
}

// immages styles

.img-logo {
    width: 40px;
    height: 40px;
}

.img-icon {
    width: 16px;
    height: 16px;
}

// SVG {
//     height: 10px;
//     width: 10px;
//     color: #ffffff;
// }